<!DOCTYPE html>
<html lang="en">
<head>
  <% include partials/_header %>
</head>
<body>
  <ul class="list-group">
    <% for (url in urls) { %>
    <li class="list-group-item">
      <%= url %> &#8594; <a href="<%= urls[url] %>"><%= urls[url] %></a>

      <form method="GET" action="/urls/<%= url %>">
        <button type="submit">EDIT</button>
      </form>

      <form method="POST" action="/urls/<%= url %>/delete">
        <button type="submit">DELETE</button>
      </form>
    </li>
    <% } %>
  </ul>

  <a href="/urls/new"> Create new shortened link </a>
</body>
</html>


